.App {
  text-align: center;
}

.App-header {
  background-color: #ffcccc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  box-shadow: 28px 28px 50px 0 rgba(5,15,31,0.16), -23px -23px 45px 0 #FFFFFF;
}

.App-box {
  min-width: 40%;
  min-height: 50%;
  background: linear-gradient(
    to right,
    #ffcccc,
    #ffcccf
);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 50px;
  backdrop-filter: blur(50px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 100px #ffccff;
  padding: 50px 35px;
}

.App-link {
  color: #61dafb;
}

Button:hover {
  background-color: #ffcccc;
  color: pink;
  width: 20%;
}

.App-button {
  background-color: linear-gradient(
    #000
    #FFFFFF
  );
}

.App-Card {
  background-color: #ffcccc;
  width: 200px;
  height: 200px;
  rotate: 180deg;
}